

<form>
    <div class="form-group">
      <label for="formGroupExampleInput">Ime</label>
      <input type="text" class="form-control" id="formGroupExampleInput" v-model="name">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Prezime</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" v-model="secondname">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Lozinka</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" v-model="password">
      </div>
  </form>